/* עיצוב עבור טקסט */
.RMGText {
    font-size: 16px; /* גודל הגופן */
    line-height: 1.5; /* מרווח בין שורות */
    color: #333; /* צבע הטקסט */
  }
  
  /* עיצוב עבור טקסט בקו מתואם */
  .RMGText.centered {
    text-align: center; /* מרכוז טקסט */
  }
  
  /* עיצוב עבור טקסט בקו מיישר ימינה */
  .RMGText.right {
    text-align: right; /* מיושר לימין */
  }
  
  /* עיצוב עבור טקסט בקו מיישר שמאלה */
  .RMGText.left {
    text-align: left; /* מיושר לשמאל */
  }
  